obj/Debug/netcoreapp2.0/TicTacToeAPI.csprojAssemblyReference.cache
bin/Debug/netcoreapp2.0/TicTacToeAPI.dll
bin/Debug/netcoreapp2.0/TicTacToeAPI.pdb
bin/Debug/netcoreapp2.0/TicTacToeAPI.runtimeconfig.dev.json
obj/Debug/netcoreapp2.0/TicTacToeAPI.dll
obj/Debug/netcoreapp2.0/TicTacToeAPI.pdb
obj/Debug/netcoreapp2.0/TicTacToeAPI.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.0/TicTacToeAPI.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.0/TicTacToeAPI.csprojResolveAssemblyReference.cache
